/* FONTS */
$font-paragraph: 'Merriweather', serif;
$font-heading: 'Yeseva One', cursive;

/* COLORS */
$color-base: #37424A;
$color-bumblebee: #F2D653;
$color-third: #FFE157;
$color-fourth: #CC32AE;
