%paragraph {
    font-family: $font-paragraph;
    font-weight: 400;
}

%heading {
    font-family: $font-heading;
    font-weight: 400;
}

h1 {
    @extend %heading;
    font-size: 4em;
    line-height: 1;
    text-transform: lowercase;

    .lighten {
        color: rgba($color-base, 0.7);
    }

    a {
        color: inherit;
    }

    a:hover,
    a:focus {
        text-decoration: none;
        color: inherit;
    }
}

a {
    text-decoration: none;
    color: darken($color-bumblebee, 25%);

    &:hover,
    &:focus {
        text-decoration: underline;
        color: $color-fourth;
    }
}
